.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #303030;
  color: #fff;

  mat-card {
    width: 26rem;
    height: 14rem;
    border-radius: 0.6rem;

    form {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr) 3rem;
    }
  }
}
